# Database Configuration (PostgreSQL)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<YOUR_PASSWORD>
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

ORDER_DB_URL=postgresql+asyncpg://order_user:<YOUR_PASSWORD>@localhost:5432/orders_db
PAYMENT_DB_URL=postgresql+asyncpg://payment_user:<YOUR_PASSWORD>@localhost:5432/payments_db
INVENTORY_DB_URL=postgresql+asyncpg://inventory_user:<YOUR_PASSWORD>@localhost:5432/inventory_db

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Redis Configuration
REDIS_URL=redis://localhost:6379/0

# Observability Configuration
PROMETHEUS_PORT=9090
LOG_LEVEL=INFO
ENABLE_RATE_LIMITING=True
