# Order Service
ORDER_DB_URL=postgresql+asyncpg://order_user:<YOUR_ORDER_PASSWORD>@localhost:5432/orders_db
ORDER_SERVICE_HOST=0.0.0.0
ORDER_SERVICE_PORT=8001
LOG_LEVEL=INFO

# Payment Service
PAYMENT_DB_URL=postgresql+asyncpg://payment_user:<YOUR_PAYMENT_PASSWORD>@localhost:5432/payment_db
PAYMENT_SERVICE_HOST=0.0.0.0
PAYMENT_SERVICE_PORT=8002
LOG_LEVEL=INFO

# Inventory Service
INVENTORY_DB_URL=postgresql+asyncpg://inventory_user:<YOUR_INVENTORY_PASSWORD>@localhost:5432/inventory_db
INVENTORY_SERVICE_HOST=0.0.0.0
INVENTORY_SERVICE_PORT=8003
LOG_LEVEL=INFO